
<div class="jumbotron" style="margin-top: -20px;">
	<div class="container">
		<h1>Xiaochen's Bookstore.</h1> 
		<br>
		<div class = "row">
			<div class = "col-xs-4">
				<p class="lead">Tools</p> 
				<ul>
					<li><h4>Angular2, Angular Material</h4></li>
					<li><h4>Spring Boot, Spring Security, JPA</h4></li>
					<li><h4>MySQL, Redis</h4></li> 
					<li><h4>Heroku</h4></li> 
				</ul>
			</div>
			
			<div class = "col-xs-4">
				<p class = "lead">Features</p> 
				<ul>
					<li><h4>Register, Login/out</h4></li>
					<li><h4>Search, Shopping Cart</h4></li>
					<li><h4>Checkout, Payment</h4></li>
				</ul>
			</div>
			<div class = "col-xs-4">
				<p class = "lead">Code</p> 
				<ul>
					<li> <p><a target="_blank" href ="https://goo.gl/5thphi"><u>https://goo.gl/5thphi</u></a></p></li>
				</ul>
			</div>
		</div>
		<br>
	</div>
</div>

<div class="container">
  	<br>
	<br>
	<img class="img-responsive" src="../../../assets/image/shelf.png" style="margin-top: -5px; z-index:-1;" />

	<div class="row" style="margin:auto; margin-top:-190px; margin-bottom:50px; width:90%;">
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/12"> <img class="img-responsive" style="width: 80%;" src="../../../assets/image/12.png" /></a>
		</div>		
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/1"> <img class="img-responsive" style="width: 80%;" src="../../../assets/image/1.png" /></a>
		</div>		
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/2"> <img class="img-responsive" style="width: 80%;" src="../../../assets/image/2.png" /></a>
		</div>		
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/5"> <img class="img-responsive" style="width: 80%;" src="../../../assets/image/5.png" /></a>
		</div>		
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/9"> <img class="img-responsive" style="width: 80%;" src="../../../assets/image/9.png" /></a>
		</div>		
		<div class="col-xs-2">
			<a routerLink = "../bookDetail/10"> <img class="img-responsive" style="width: 70%;" src="../../../assets/image/10.png" /></a>
		</div>

	</div>
	<br>
	<hr style="margin-top: -15px; color:#E96C19" />
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/bestseller.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer">
						<img src="../../../assets/image/hours.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" >
						<img src="../../../assets/image/faq.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>