<!-- <div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42"></div> -->

<nav class="navbar navbar-default navbar-inverse">
	<div class="container">
<!-- 		<div class="nav navbar-nav">
			<a class="navbar-brand pointer" routerLink="/home"><strong>Home</strong> </a>
		</div> -->

		<div id="navbar">
			<ul class="nav navbar-nav ">
				<li><a md-button routerLink="/home"> <strong>Home</strong></a></li>
				<li><a md-button routerLink="/bookList"> <strong>All Books</strong></a></li>
				<form (ngSubmit)="onSearchByTitle()" class="navbar-form">
					<div class="form-group">
						<input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="by title" />
					</div>
					<button type="submit" class="btn btn-default" style="background: #ff9900"><strong>Search</strong></button>
				</form>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="!loggedIn">
					<a md-button routerLink="/myAccount"><strong>login/register</strong></a>
				</li>
				<li *ngIf="loggedIn">
					<a md-button routerLink="/shoppingCart"><strong>shopping cart</strong></a>
				</li>
				<li *ngIf="loggedIn">
					<a md-button routerLink="/myProfile"><strong>my profile</strong></a>
				</li>
				<li *ngIf="loggedIn">
					<a md-button (click)="logout()">logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>